
services:

  dynamodb:
    image: amazon/dynamodb-local
    container_name: dynamodb
    ports:
      - "8000:8000"
    command: "-jar DynamoDBLocal.jar -sharedDb"
    volumes:
      - dynamo_data:/home/dynamodblocal/data

  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data

  fastapi-tts:
    build: ./fastapi-tts
    container_name: fastapi-tts
    ports:
      - "8002:8002"
    environment:
      # Variables FastAPI
      FASTAPI_TTS_URL: http://fastapi-tts:8002
      AUDIO_BUCKET: voicefaker-audio

      # MinIO
      MINIO_ENDPOINT: http://minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin

      # DynamoDB
      DYNAMODB_ENDPOINT: http://dynamodb:8000

volumes:
  dynamo_data:
  minio_data: